*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.success-message,
.error-message,
.info-message,
.warning-message {
  font-size: $font-sm;
  font-weight: 300;
}

.success-message {
  color: $color-success;
}

.error-message {
  color: $color-error;
}

.info-message {
  color: $color-info;
}

.warning-message {
  color: $color-warning;
}

.icon-sm {
  @include icon-size(sm);
}

.icon-md {
  @include icon-size(md);
}

.icon-lg {
  @include icon-size(lg);
}

button {
  padding: 0.25rem 0.5rem;
  border-radius: $border-radius;
  background: $color-primary-light;
  color: $color-text;
  border: $border;

  &.active {
    box-shadow: $shadow-1;
  }
}

.filter-button {
  position: relative;
  padding-left: 1.5rem;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(100%, -50%);
    width: 8px;
    height: 8px;
    background: $color-secondary;
    border-radius: 50%;
  }

  &.active::after {
    background: $color-primary;
  }
}

input,
textarea {
  width: 100%;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: $border-radius;
  border: $border;
}
